## IDE
.vscode/**
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/

## Env
.env
.env.test
.python-version

## Postgres
/data/

node_modules/
.tanstack
.pnpm-store

# Production
.env.prod
backend/.env.prod
certbot/
nginx/conf.d/
nginx/certs/
frontend/dist/